@using standby_data.Models.UtilModels
@model AdicionarServicoModel
@{
ViewData["Title"] = "Adicionar";
string marginBottom = "mb-3";
int? idCliente = null;
if(ViewData["ClienteSelecionado"] != null){
Console.WriteLine("Diferente de null");
idCliente = Convert.ToInt32(ViewData["ClienteSelecionado"]);
}
}

@section Styles{
<link href="~/css/servico/AdicionarServico.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

<!-- Lockscreen -->
<link href="~/css/lockscreen.css" rel="stylesheet" />
<!-- <link rel="stylesheet" href="~/css/style.css" /> -->
<link rel="stylesheet" href="~/js/novo/styles.css">
<link rel="stylesheet" href="~/css/PrevisaoEntregaAlert.css">
}


<form asp-action="Adicionar" asp-controller="Servico" class="row needs-validation " id="formulario" method="post"
    novalidate>

    <input type="hidden" id="ImageData" name="ImageData" value="@ViewData[" imageSrc"]">
    <input type="hidden" id="PrevisaoEntrega" name="PrevisaoEntrega">
    <input asp-for="servico.sv_cl_idcliente" type="hidden" id="clienteID" required />

    <input type="hidden" id="clienteNOME" name="clienteNOME" value="@ViewData[" clienteNOME"]" />
    <input asp-for="servico.sv_status" type="hidden" />
    <input asp-for="servico.sv_ativo" type="hidden" value="1" />
    <input asp-for="servico.sv_avaliacao_servico" type="hidden" value="AVALIAÇÃO" />
    <input asp-for="servico.sv_ordem_serv" type="hidden" value="@Convert.ToInt32(ViewData[" OrdemServicoNova"])" />
    <input asp-for="condicaoFisica.cf_tipo" type="hidden" value="ENTRADA" />



    <div class="col-md-12 col-sm-12 ">
        <div class="card d-flex flex-row align-items-center" style="height: 50px">
            @* <div class="row card-body"> *@

                <label class="text-left badge badge-gradient-dark ordem-servico-badge"> OS
                    @ViewData["OrdemServicoNova"].ToString() </label>
                <label class="card-title text-center" style="flex: 1;">

                    Adicionando Serviço

                </label>

                @*
            </div> *@
        </div> <!-- Adicionando servico -->


        <!-- Errors -->
        <div class="card" id="errorCard">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Erros</h4>
            </div>
            <div class="card-body">
                <strong>
                    <div id="validation"></div>
                    <div asp-validation-summary="ModelOnly" class="alert alert-warning" role="alert"></div>
                </strong>
            </div>
        </div>
    </div>


    <section class="containerAdd">


        <div class="card item">
            <!--Header Informacoes do Aparelho-->
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Informações do aparelho</h4>
                <div class="flex-shrink-0"></div>
            </div>


            <div class="card-body">
                <div class="live-preview">
                    <!--Primeira linha-->
                    @* <div class="row g-3"> *@
                        <!--DATA SERVICO-->
                        <div class="col-md-12">
                            <div class="@marginBottom">
                                <label class="form-label-servicos" for="cleave-date-servicos">Data</label>
                                <input asp-for="servico.sv_data" class="form-control input-servicos-text"
                                    id="cleave-date-servicos" placeholder="DD-MM-YYYY" type="text"
                                    value="@DateTime.Now.ToShortDateString()" readonly />
                            </div>
                        </div>


                        <!--MARCA-->
                        <div class="col-md-12">
                            <div class="@marginBottom">
                                <label class="form-label-servicos" for="">Marca</label>
                                <select asp-for="servico.sv_marca" class="form-select input-servicos-select"
                                    id="cleave-estado">
                                    <option disabled selected value=""></option>
                                    @foreach (var item in @Model.ListasItems.InMarcaItemsList)
                                    {
                                    <option>@item</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <!--MODELO-->
                        <div class="col-md-12">
                            <div class="@marginBottom">
                                <label class="form-label-servicos" for="validationCustom01">Modelo</label>
                                <input asp-for="servico.sv_aparelho" class="form-control input-servicos-text"
                                    id="validationCustom01" placeholder="Digite o nome do cliente" required
                                    type="text" />
                                <div class="valid-feedback">Campo obrigatorio inserido!</div>
                                <div class="invalid-feedback">Por favor, digite um nome!</div>
                            </div>
                        </div>
                        @*
                    </div> *@

                    <!-- Segunda linha-->
                    @* <div class="row g-3"> *@
                        <!-- COR -->
                        <div class="col-md-12">
                            <div class="@marginBottom">
                                <label class="form-label-servicos" for="cleave-cpf">Cor</label>
                                <select asp-for="servico.sv_cor" class="form-select input-servicos-select"
                                    id="cleave-estado">
                                    <option disabled selected value=""></option>
                                    @foreach (var item in @Model.ListasItems.InCorItemsList)
                                    {
                                    <option>@item</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <!-- Serial Number -->
                        <div class="col-md-12">
                            <div class="@marginBottom">
                                <label class="form-label-servicos" for="cleave-cpf">Serial Number (MEI)</label>
                                <input asp-for="servico.sv_mei_serialnumber" class="form-control input-servicos-text"
                                    id="cleave-cpf" placeholder="" required type="text" />
                                <div class="valid-feedback">Campo obrigatorio inserido!</div>
                                <div class="invalid-feedback">Por favor, preencha um CPF ou CNPJ!</div>
                            </div>
                        </div>


                        <div class="row">

                            <!-- SENHA -->
                            <div class="col-md-8">
                                <div class="@marginBottom">
                                    <label class="form-label-servicos" for="cleave-cpf">Senha</label>
                                    <input asp-for="servico.sv_senha" class="form-control input-servicos-text"
                                        id="senha" placeholder="" required type="text" />
                                    <div class="valid-feedback">Campo obrigatorio inserido!</div>
                                    <div class="invalid-feedback">Por favor, preencha um CPF ou CNPJ!</div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="@marginBottom">
                                    <label class="form-label-servicos" for="cleave-cpf">Padrão</label>

                                    <a class="btn-servicos ri-lock-line btn btn-danger col-md-4 d-block form-control"
                                        onclick="return loadModalNovaSenha()">
                                    </a>
                                    @await Html.PartialAsync("_SenhaPatternAndroid", new SenhaPatternViewModel())

                                </div>
                            </div>
                        </div>
                        @*
                    </div> *@
                </div>
            </div>
        </div><!-- Informacoes do aparelho-->


        <div class="card item">
            <!--Header Condicoes Fisicas-->
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Condições fisicas</h4>
                <div class="flex-shrink-0"></div>
            </div>

            <div class="card-body">
                <div class="live-preview">
                    @* <div class="row g-3"> *@
                        <!---->
                        <div class="col-md-12">
                            <div class="@marginBottom">
                                <label class="form-label-servicos" for="cleave-cpf">Película</label>
                                <select asp-for="condicaoFisica.cf_pelicula" class="form-select input-servicos-select "
                                    id="cleave-estado">
                                    <option disabled selected value=""></option>
                                    @foreach (var item in @Model.ListasItems.CfPeliculaItemsList)
                                    {
                                    <option>@item</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <!---->
                        <div class="col-md-12">
                            <div class="@marginBottom">
                                <label class="form-label-servicos" for="cleave-cpf">Tela</label>
                                <select asp-for="condicaoFisica.cf_tela" class="form-select input-servicos-select "
                                    id="cleave-estado">
                                    <option disabled selected value=""></option>
                                    @foreach (var item in @Model.ListasItems.CfTelaItemsList)
                                    {
                                    <option>@item</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <!---->
                        <div class="col-md-12">
                            <div class="@marginBottom">
                                <label class="form-label-servicos" for="cleave-cpf">Tampa</label>
                                <select asp-for="condicaoFisica.cf_tampa" class="form-select input-servicos-select "
                                    id="cleave-estado">
                                    <option disabled selected value=""></option>
                                    @foreach (var item in @Model.ListasItems.CfTampaItemsList)
                                    {
                                    <option>@item</option>
                                    }
                                </select>
                            </div>
                        </div>
                        @*
                    </div> *@


                    @* <div class="row g-3"> *@
                        <!---->
                        <div class="col-md-12">
                            <div class="@marginBottom">
                                <label class="form-label-servicos" for="cleave-cpf">Aro</label>
                                <select asp-for="condicaoFisica.cf_aro" class="form-select input-servicos-select "
                                    id="cleave-estado">
                                    <option disabled selected value=""></option>
                                    @foreach (var item in @Model.ListasItems.CfAroItemsList)
                                    {
                                    <option>@item</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <!---->
                        <div class="col-md-12">
                            <div class="@marginBottom">
                                <label class="form-label-servicos" for="cleave-cpf">Botões</label>
                                <select asp-for="condicaoFisica.cf_botoes" class="form-select input-servicos-select "
                                    id="cleave-estado">
                                    <option disabled selected value=""></option>
                                    @foreach (var item in @Model.ListasItems.CfBotoesItemsList)
                                    {
                                    <option>@item</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <!---->
                        <div class="col-md-12">
                            <div class="@marginBottom">
                                <label class="form-label-servicos" for="cleave-cpf">Lente da Camêra</label>
                                <select asp-for="condicaoFisica.cf_lente_camera"
                                    class="form-select input-servicos-select " id="cleave-estado">
                                    <option disabled selected value=""></option>
                                    <option>FUNCIONANDO</option>
                                    <option>RUIM</option>
                                </select>
                            </div>
                        </div>
                        @*
                    </div> *@
                </div>
            </div>
        </div><!-- Condicoes Fisicas -->


        <div class="card item">
            <!---->
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Observações - Situação</h4>
                <div class="flex-shrink-0"></div>
            </div>

            <div class="card-body">
                <div class="live-preview">
                    <div class="row">
                        <textarea asp-for="servico.sv_situacao" class="form-control textarea-resize" id="textarea1"
                            rows="3"></textarea>
                    </div>
                </div>
            </div>
        </div> <!-- Obs - Situacao -->


        <div class="card item">
            <!--Situação-->
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Relato do Cliente</h4>
                <div class="flex-shrink-0"></div>
            </div>

            <div class="card-body">
                <div class="live-preview">
                    <div class="row">
                        <textarea asp-for="servico.sv_relato_cliente" class="form-control"
                            id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                </div>
            </div>
        </div><!-- Relato do cliente -->


        <div class="card item">
            <!--Situação-->
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Condições do aparelho no balcão</h4>
                <div class="flex-shrink-0"></div>
            </div>

            <div class="card-body">
                <div class="live-preview">
                    <div class="row">
                        <textarea asp-for="servico.sv_condicoes_balcao" class="form-control"
                            id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                </div>
            </div>
        </div><!-- Condições do aparelho no balcão -->


        <div class="card item">
            <!--Situação-->
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Acessorios do aparelho</h4>
                <div class="flex-shrink-0"></div>
            </div>

            <div class="card-body">
                <div class="live-preview">
                    <div class="row">
                        <textarea asp-for="servico.sv_acessorios" class="form-control" id="exampleFormControlTextarea1"
                            rows="3"></textarea>
                    </div>
                </div>
            </div>
        </div><!-- Acessorios do aparelho -->


        <div class="card sidenav">
            <!---->
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Inicio</h4>
                <div class="flex-shrink-0"></div>
            </div>

            <div class="card-body card-body-checklist">
                <div class="live-preview">
                    <div class="row">
                        @* d-flex justify-content-center *@
                        <div class="col-md-12 col-sm-12 select-clientes-pai ">
                            @* select-clientes-input *@
                            <label class="form-label-servicos" for="cleave-cpf">Cliente</label>
                            <select asp-for="condicaoFisica.cf_pelicula"
                                class="form-select select2 input-servicos-select" id="cleaveCliente">
                                <option disabled selected value=""></option>
                                @* @foreach (var item in @Model.ListasItems.CfPeliculaItemsList)
                                {
                                <option>@item</option>
                                } *@
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <!---->
            <div class="card-header align-items-center d-flex card-header-valores">
                @* <h4 class="card-title mb-0 flex-grow-1">Valores</h4> *@
                <div class="flex-shrink-0"></div>
            </div>
            <div class="card-body mt-2">
                <div class="live-preview">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 select-clientes-pai ">

                            <label class="form-label-servicos" for="cleave-cpf">Biometria / Face-ID</label>
                            <select asp-for="condicaoFisica.cf_lente_camera" class="form-select input-servicos-select "
                                id="cleave-estado">
                                <option disabled selected value=""></option>
                                @foreach (var item in @Model.ListasItems.ChBiometriaFaceItemsList)
                                {
                                <option>@item</option>
                                }
                            </select>

                        </div>

                        <div class="col-md-6 col-sm-6 select-clientes-pai ">

                            <label class="form-label-servicos" for="cleave-cpf">Microfone</label>
                            <select asp-for="condicaoFisica.cf_lente_camera" class="form-select input-servicos-select "
                                id="cleave-estado">
                                <option disabled selected value=""></option>
                                @foreach (var item in @Model.ListasItems.ChMicrofoneItemsList)
                                {
                                <option>@item</option>
                                }
                            </select>

                        </div>
                    </div> <!-- Linha biometrica -->



                    <div class="row">
                        <div class="col-md-6 col-sm-6 select-clientes-pai ">

                            <label class="form-label-servicos" for="cleave-cpf">Tela</label>
                            <select asp-for="condicaoFisica.cf_lente_camera" class="form-select input-servicos-select "
                                id="cleave-estado">
                                <option disabled selected value=""></option>
                                @foreach (var item in @Model.ListasItems.ChTelaItemsList)
                                {
                                <option>@item</option>
                                }
                            </select>

                        </div>

                        <div class="col-md-6 col-sm-6 select-clientes-pai ">

                            <label class="form-label-servicos" for="cleave-cpf">Chip</label>
                            <select asp-for="condicaoFisica.cf_lente_camera" class="form-select input-servicos-select "
                                id="cleave-estado">
                                <option disabled selected value=""></option>
                                @foreach (var item in @Model.ListasItems.ChChipItemsList)
                                {
                                <option>@item</option>
                                }
                            </select>

                        </div>
                    </div><!-- Linha tela -->



                    <div class="row">
                        <div class="col-md-6 col-sm-6 select-clientes-pai ">

                            <label class="form-label-servicos" for="cleave-cpf">Botões</label>
                            <select asp-for="condicaoFisica.cf_lente_camera" class="form-select input-servicos-select "
                                id="cleave-estado">
                                <option disabled selected value=""></option>
                                @foreach (var item in @Model.ListasItems.ChBotoesList)
                                {
                                <option>@item</option>
                                }
                            </select>

                        </div>

                        <div class="col-md-6 col-sm-6 select-clientes-pai ">

                            <label class="form-label-servicos" for="cleave-cpf">Sensor</label>
                            <select asp-for="condicaoFisica.cf_lente_camera" class="form-select input-servicos-select "
                                id="cleave-estado">
                                <option disabled selected value=""></option>
                                @foreach (var item in @Model.ListasItems.ChSensorList)
                                {
                                <option>@item</option>
                                }
                            </select>

                        </div>
                    </div><!-- Linha Botoes -->



                    <div class="row">
                        <div class="col-md-6 col-sm-6 select-clientes-pai ">

                            <label class="form-label-servicos" for="cleave-cpf">Câmeras</label>
                            <select asp-for="condicaoFisica.cf_lente_camera" class="form-select input-servicos-select "
                                id="cleave-estado">
                                <option disabled selected value=""></option>
                                @foreach (var item in @Model.ListasItems.ChCamerasList)
                                {
                                <option>@item</option>
                                }
                            </select>

                        </div>

                        <div class="col-md-6 col-sm-6 select-clientes-pai ">

                            <label class="form-label-servicos" for="cleave-cpf">Auricular</label>
                            <select asp-for="condicaoFisica.cf_lente_camera" class="form-select input-servicos-select "
                                id="cleave-estado">
                                <option disabled selected value=""></option>
                                @foreach (var item in @Model.ListasItems.ChAuricularList)
                                {
                                <option>@item</option>
                                }
                            </select>

                        </div>
                    </div><!-- Linha Cameras -->



                    <div class="row">
                        <div class="col-md-6 col-sm-6 select-clientes-pai ">

                            <label class="form-label-servicos" for="cleave-cpf">Wi-Fi</label>
                            <select asp-for="condicaoFisica.cf_lente_camera" class="form-select input-servicos-select "
                                id="cleave-estado">
                                <option disabled selected value=""></option>
                                @foreach (var item in @Model.ListasItems.ChWifiList)
                                {
                                <option>@item</option>
                                }
                            </select>

                        </div>

                        <div class="col-md-6 col-sm-6 select-clientes-pai ">

                            <label class="form-label-servicos" for="cleave-cpf">Alto Falante</label>
                            <select asp-for="condicaoFisica.cf_lente_camera" class="form-select input-servicos-select "
                                id="cleave-estado">
                                <option disabled selected value=""></option>
                                @foreach (var item in @Model.ListasItems.ChAltoFalanteList)
                                {
                                <option>@item</option>
                                }
                            </select>

                        </div>
                    </div><!-- Linha Wi-Fi -->



                    <div class="row">
                        <div class="col-md-6 col-sm-6 select-clientes-pai ">

                            <label class="form-label-servicos" for="cleave-cpf">Bluetooth</label>
                            <select asp-for="condicaoFisica.cf_lente_camera" class="form-select input-servicos-select "
                                id="cleave-estado">
                                <option disabled selected value=""></option>
                                @foreach (var item in @Model.ListasItems.ChBluetoothList)
                                {
                                <option>@item</option>
                                }
                            </select>

                        </div>

                        <div class="col-md-6 col-sm-6 select-clientes-pai ">

                            <label class="form-label-servicos" for="cleave-cpf">Carregamento</label>
                            <select asp-for="condicaoFisica.cf_lente_camera" class="form-select input-servicos-select "
                                id="cleave-estado">
                                <option disabled selected value=""></option>
                                @foreach (var item in @Model.ListasItems.ChCarregamentoList)
                                {
                                <option>@item</option>
                                }
                            </select>

                        </div>
                    </div><!-- Linha Wi-Fi -->


                    <div class="row">
                        <div class="col-md-12 col-sm-12 select-clientes-pai ">
                            <label class="form-label-servicos mt-3" for="cleave-cpf">Carregamento</label>
                            <textarea asp-for="checkList.ch_carregamento" class="form-control"
                                id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                    </div>


                    <!-- Switches Color -->
                    <div class="form-check form-switch mt-4">
                        <input asp-for="checkList.ch_ausente" class="form-check-input" type="checkbox" role="switch"
                            id="SwitchCheck1" unchecked>
                        <label class="form-check-label" for="SwitchCheck1">Impossivel fazer checklist</label>
                    </div>


                    <div class="row">
                        <div class="col-md-12 col-sm-12 select-clientes-pai ">
                            <label class="form-label-servicos mt-3" for="cleave-cpf">Motivo</label>
                            <textarea asp-for="checkList.ch_motivo_ausencia" class="form-control"
                                id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                    </div>

                </div>
            </div>

        </div><!-- Solucao -->
    </section>


    <div class="row">
        <button class="btn btn-primary col-md-4 d-block mx-auto" type="submit" id="btnCadastrarServico">Inserir
            Serviço</button>
    </div>
</form>


@section scripts{
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="~/js/novo/patternlock.js"></script>
<script src="~/js/Add-Edit-Servico.js"></script>



<script>
    $(document).ready(function () {
        $("#btnCadastrarServico").click(function (event) {
            // $("#btnCadastrarServico").click(function (event) {
            //console.log("Tentando exibir alerta")
            event.preventDefault();

            Swal.fire({
                title: 'Qual a previsão de entrega?',
                html: html,
                showCancelButton: true,
                confirmButtonText: 'Cadastrar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.value) {
                    //pegar qual checkbox foi selecionada dentre as 5
                    var checkboxes = document.getElementsByClassName("form-check-input");
                    var selectedCheckbox = null;
                    for (var i = 0; i < checkboxes.length; i++) {
                        if (checkboxes[i].checked) {
                            selectedCheckbox = checkboxes[i];
                            break;
                        }
                    }
                    console.log("chkSelecionada: ", selectedCheckbox);
                    var PrevisaoEntrega = document.getElementById("PrevisaoEntrega");
                    PrevisaoEntrega.value = selectedCheckbox.id;

                    console.log("PrevisaoEntrega: ", PrevisaoEntrega.value);

                    $("#formulario").submit();

                }
            });
        });
    });


    //Bloco html com checkboxes de previsao de entrega exibido no sweetie alert
    var html = `
<div class="containerChk">
    <div class="justify-content-between">
        <div class="form-check form-check-inline teste">
            <input class="form-check-input" type="checkbox" id="chkSemPrevia" checked>
            <label class="form-check-label" id="lblchecksSemPrevia" for="chkSemPrevia">Sem Prévia</label>
        </div>
    </div>

    <div class="d-flex justify-content-between">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="chk24" unchecked>
            <label class="form-check-label" id="lblchecks" for="chk24">24 Horas</label>
        </div>

        <div class="form-check form-check-inline text-center">
            <input class="form-check-input" type="checkbox" id="chk3" unchecked>
            <label class="form-check-label" id="lblchecks" for="chk3">3 Dias</label>
        </div>

        <div class="form-check form-check-inline text-right">
            <input class="form-check-input" type="checkbox" id="chk5" unchecked>
            <label class="form-check-label" id="lblchecks" for="chk5">5 Dias</label>
        </div>
    </div>

    <div class="d-flex justify-content-between">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="chk2" unchecked>
            <label class="form-check-label" id="lblchecks" for="chk2">2 Dias</label>
        </div>

        <div class="form-check form-check-inline text-center">
            <input class="form-check-input" type="checkbox" id="chk4" unchecked>
            <label class="form-check-label" id="lblchecks" for="chk4">4 Dias</label>
        </div>

        <div class="form-check form-check-inline text-right">
            <input class="form-check-input" type="checkbox" id="chk7" unchecked>
            <label class="form-check-label" id="lblchecks" for="chk7">7 Dias</label>
        </div>
    </div>
</div>
`;

</script>


<script>
    $(document).on("change", ".form-check-input", function () {
        console.log("Evento disparado");
        $(".form-check-input").not(this).prop("checked", false);
    });

</script>


<script>
    $(document).ready(function () {
        $("#cleaveCliente").select2({
            allowClear: true,
            minimumInputLength: 3,
            placeholder: "Digite o nome do cliente",
            templateResult: function (data) {
                if (!data.loading) {
                    var text = data.text;
                    if (text.length > 35) {
                        text = text.substring(0, 35) + "...";
                    }


                    var element = $("<span>" + data.id + " - </span><span style='text-overflow: ellipsis; overflow: hidden; white-space: nowrap;'>" + text + "</span>");
                    return element;
                }
                return data.text;
            },
            ajax: {
                url: "/Servico/BuscarClientes",
                dataType: "json",
                delay: 250,
                data: function (params) {

                    return {
                        nome: params.term
                    };
                },
                processResults: function (data) {
                    //console.log("Qtd Clientes", data.length)
                    return {
                        results: $.map(data, function (item) {
                            //console.log("item", item)
                            return {
                                id: item.cl_id,
                                text: item.cl_nome
                            };
                        })
                    };
                },
                cache: true
            },
            language: {
                inputTooShort: function (args) {
                    var remainingChars = args.minimum - args.input.length;
                    var message = "Digite " + remainingChars + " ou mais caracteres";

                    return message;
                },
                inputTooLong: function (args) {
                    var overChars = args.input.length - args.maximum;
                    var message = 'Apague ' + overChars + ' caracter';

                    if (overChars != 1) {
                        message += 'es';
                    }

                    return message;
                },
                errorLoading: function () {
                    return 'Os resultados não puderam ser carregados.';
                },
                loadingMore: function () {
                    return 'Carregando mais resultados…';
                },
                maximumSelected: function (args) {
                    var message = 'Você só pode selecionar ' + args.maximum + ' ite';

                    if (args.maximum == 1) {
                        message += 'm';
                    } else {
                        message += 'ns';
                    }

                    return message;
                },
                noResults: function () {
                    return 'Nenhum resultado encontrado';
                },
                searching: function () {
                    return 'Buscando…';
                },
                removeAllItems: function () {
                    return 'Remover todos os itens';
                }
            }
        });
    });
</script>


<script>
    $(document).ready(function () {
        var clienteNOME = document.getElementById("clienteNOME").value;
        var clienteId = document.getElementById("clienteID").value;
        var newOption = new Option(clienteNOME, clienteId, true, true);

        $('#cleaveCliente').append(newOption).trigger('change');
    });
</script>

<script>
    $("#cleaveCliente").on("change", function (e) {
        // var clienteId = e.target.value;
        // var clienteNOME = e.target.innerText;

        var clienteId = $("#cleaveCliente option:last-child").val();
        var clienteNOME = $("#cleaveCliente option:last-child").text();

        document.getElementById("clienteID").value = clienteId;
        document.getElementById("clienteNOME").value = clienteNOME;

        //console.log("clienteId", clienteId);
        //console.log("clienteNOME", clienteNOME);
    });
</script>

}