@using System.Globalization;
@model ServicoCompletoModel
@{
    ViewData["Title"] = "EditarServico";
    ViewData["Senha"] = @Model.servico.sv_senha;
    string marginBottom = "mb-3";
    DateTime? previsaoEntrega = @Model.servico.sv_previsao_entrega;
    DateTime ae = Convert.ToDateTime(previsaoEntrega);
    ViewData["desconto"] = 20;
    
    if(ViewData["PrevisaoEntrega"] != null && ViewData["PrevisaoEntrega"].ToString() != ""){
    previsaoEntrega = Convert.ToDateTime(ViewData["PrevisaoEntrega"]);
    }else{
    previsaoEntrega = null;
    }

   // Console.WriteLine("[EDIT SERV] Image base 64: " + ViewData["imageSrc"]);
}

@section Styles {
<link href="~/css/lockscreen.css" rel="stylesheet" />
<link rel="stylesheet" href="~/css/style.css" />
<link rel="stylesheet" href="~/js/novo/styles.css">
}

@await Html.PartialAsync("_SenhaPatternAndroid", new SenhaPatternViewModel())
@await Html.PartialAsync("_EditarServicoCanvasLateral", @Model)



<form asp-action="Editar" asp-controller="Servico" class="row needs-validation " id="formulario" method="post" novalidate>
    <input type="hidden" id="ImageData" name="ImageData" value="@ViewData["imageSrc"]">
    <input type="hidden" id="PrevisaoEntrega" name="PrevisaoEntrega" value="">
    <input asp-for="servico.sv_senha_pattern" type="hidden" id="senhaPatternCliente" name="senhaPatternCliente" value="@ViewData["imageSrc"]">
    <input asp-for="servico.sv_id" type="hidden" value="@Model.servico.sv_id" />
    <input asp-for="servico.sv_cl_idcliente" type="hidden" value="@Model.servico.sv_cl_idcliente" />
    <input asp-for="servico.sv_ordem_serv" type="hidden" value="@Model.servico.sv_ordem_serv" />
    <input asp-for="servico.sv_status" type="hidden" value="@Model.servico.sv_status" />
    <input asp-for="servico.sv_ativo" type="hidden" value="@Model.servico.sv_ativo" />

    <!--Input Hidden Cliente-->
    <input asp-for="cliente.cl_id" type="hidden" value="@Model.cliente.cl_id" />
    <input asp-for="cliente.cl_nome" type="hidden" value="@Model.cliente.cl_nome" />
    <input asp-for="cliente.cl_cpf" type="hidden" value="@Model.cliente.cl_cpf" />

    <!--Input Hidden CondFisicas-->
    @if(@Model.condicaoFisica != null){
        <input asp-for="condicaoFisica.cf_id" type="hidden" value="@Model.condicaoFisica.cf_id" />
        <input asp-for="condicaoFisica.cf_tipo" type="hidden" value="ENTRADA" />
    }


    <!-- Errors -->
    <div class="row">
        <div class="col-md-12 col-sm-12">

            <div class="card " style="height: 50px">
                <div class="card-body ">
                    
                    <h4 class="card-title text-center">
                        Cliente: @Model.cliente.cl_nome
                    </h4>

                </div>
            </div>

            <div class="card" id="errorCard">
                <div class="card-header align-items-center d-flex">
                    <h4 class="card-title mb-0 flex-grow-1">Erros</h4>
                </div>
                <div class="card-body">
                    <strong>
                        <div asp-validation-summary="ModelOnly" class="alert alert-warning" role="alert"></div>
                    </strong>
                </div>
            </div>
        </div>
    </div>



    <div class="row" id="linha-1">
        <div class="col-md-5 col-sm-12">
            <div class="card">
                <!--Header Informacoes do Aparelho-->
                <div class="card-header align-items-center d-flex">
                    <h4 class="card-title mb-0 flex-grow-1">Informações do aparelho</h4>
                    <div class="flex-shrink-0"></div>
                </div>


                <div class="card-body">
                    <div class="live-preview">
                        <!--Primeira linha-->
                        @* <div class="row g-3"> *@
                            <!--DATA SERVICO-->
                            <div class="col-md-12">
                                <div class="@marginBottom">
                                    <label class="form-label-servicos" for="cleave-date-servicos">Data</label>
                                    <input asp-for="servico.sv_data" class="form-control input-servicos-text"
                                        id="cleave-date-servicos" placeholder="DD-MM-YYYY" type="text" />
                                </div>
                            </div>


                            <!--MARCA-->
                            <div class="col-md-12">
                                <div class="@marginBottom">
                                    <label class="form-label-servicos" for="">Marca</label>
                                    <select asp-for="servico.sv_marca" class="form-select input-servicos-select"
                                        id="cleave-estado">
                                        <option disabled selected value=""></option>
                                        <option>SAMSUNG</option>
                                        <option>LG</option>
                                        <option>IPHONE</option>
                                    </select>
                                </div>
                            </div>

                            <!--MODELO-->
                            <div class="col-md-12">
                                <div class="@marginBottom">
                                    <label class="form-label-servicos" for="validationCustom01">Modelo</label>
                                    <input asp-for="servico.sv_aparelho" class="form-control input-servicos-text"
                                        id="validationCustom01" placeholder="Digite o nome do cliente" required
                                        type="text" />
                                    <div class="valid-feedback">Campo obrigatorio inserido!</div>
                                    <div class="invalid-feedback">Por favor, digite um nome!</div>
                                </div>
                            </div>
                            @*
                        </div> *@

                        <!-- Segunda linha-->
                        @* <div class="row g-3"> *@
                            <!-- COR -->
                            <div class="col-md-12">
                                <div class="@marginBottom">
                                    <label class="form-label-servicos" for="cleave-cpf">Cor</label>
                                    <select asp-for="servico.sv_cor" class="form-select input-servicos-select"
                                        id="cleave-estado">
                                        <option disabled selected value=""></option>
                                        <option>PRETO</option>
                                        <option>VERMELHO</option>
                                        <option>AZUL</option>
                                    </select>
                                </div>
                            </div>

                            <!-- Serial Number -->
                            <div class="col-md-12">
                                <div class="@marginBottom">
                                    <label class="form-label-servicos" for="cleave-cpf">Serial Number (MEI)</label>
                                    <input asp-for="servico.sv_mei_serialnumber"
                                        class="form-control input-servicos-text" id="cleave-cpf" placeholder="" required
                                        type="text" />
                                    <div class="valid-feedback">Campo obrigatorio inserido!</div>
                                    <div class="invalid-feedback">Por favor, preencha um CPF ou CNPJ!</div>
                                </div>
                            </div>


                            <div class="row">

                                <!-- SENHA -->
                                <div class="col-md-8">
                                    <div class="@marginBottom">
                                        <label class="form-label-servicos" for="cleave-cpf">Senha</label>
                                        <input asp-for="servico.sv_senha" class="form-control input-servicos-text"
                                            id="senha" placeholder="" required type="text" />
                                        <div class="valid-feedback">Campo obrigatorio inserido!</div>
                                        <div class="invalid-feedback">Por favor, preencha um CPF ou CNPJ!</div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="@marginBottom">
                                        <label class="form-label-servicos" for="cleave-cpf">Padrão</label>
                                        @if(Model.servico.sv_senha_pattern != null){
                                        <a class="btn-servicos ri-lock-line btn btn-secondary col-md-4 d-block form-control"
                                            onclick="return loadModal()">
                                        </a>
                                        }else{
                                        <a class="btn-servicos ri-lock-line btn btn-danger col-md-4 d-block form-control"
                                            onclick="return loadModal()">
                                        </a>
                                        }

                                    </div>
                                </div>
                            </div>
                            @*
                        </div> *@
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-4 col-sm-12">
            <div class="card">
                <!--Header Condicoes Fisicas-->
                <div class="card-header align-items-center d-flex">
                    <h4 class="card-title mb-0 flex-grow-1">Condições fisicas</h4>
                    <div class="flex-shrink-0"></div>
                </div>

                <div class="card-body">
                    <div class="live-preview">
                        @* <div class="row g-3"> *@
                            <!---->
                            <div class="col-md-12">
                                <div class="@marginBottom">
                                    <label class="form-label-servicos" for="cleave-cpf">Película</label>
                                    <select asp-for="condicaoFisica.cf_pelicula"
                                        class="form-select input-servicos-select " id="cleave-estado">
                                        <option disabled selected value=""></option>
                                        <option>FUNCIONANDO</option>
                                        <option>RUIM</option>
                                    </select>
                                </div>
                            </div>

                            <!---->
                            <div class="col-md-12">
                                <div class="@marginBottom">
                                    <label class="form-label-servicos" for="cleave-cpf">Tela</label>
                                    <select asp-for="condicaoFisica.cf_tela" class="form-select input-servicos-select "
                                        id="cleave-estado">
                                        <option disabled selected value=""></option>
                                        <option>FUNCIONANDO</option>
                                        <option>RUIM</option>
                                    </select>
                                </div>
                            </div>

                            <!---->
                            <div class="col-md-12">
                                <div class="@marginBottom">
                                    <label class="form-label-servicos" for="cleave-cpf">Tampa</label>
                                    <select asp-for="condicaoFisica.cf_tampa" class="form-select input-servicos-select "
                                        id="cleave-estado">
                                        <option disabled selected value=""></option>
                                        <option>FUNCIONANDO</option>
                                        <option>RUIM</option>
                                    </select>
                                </div>
                            </div>
                            @*
                        </div> *@


                        @* <div class="row g-3"> *@
                            <!---->
                            <div class="col-md-12">
                                <div class="@marginBottom">
                                    <label class="form-label-servicos" for="cleave-cpf">Aro</label>
                                    <select asp-for="condicaoFisica.cf_aro" class="form-select input-servicos-select "
                                        id="cleave-estado">
                                        <option disabled selected value=""></option>
                                        <option>FUNCIONANDO</option>
                                        <option>RUIM</option>
                                    </select>
                                </div>
                            </div>

                            <!---->
                            <div class="col-md-12">
                                <div class="@marginBottom">
                                    <label class="form-label-servicos" for="cleave-cpf">Botões</label>
                                    <select asp-for="condicaoFisica.cf_botoes"
                                        class="form-select input-servicos-select " id="cleave-estado">
                                        <option disabled selected value=""></option>
                                        <option>FUNCIONANDO</option>
                                        <option>RUIM</option>
                                    </select>
                                </div>
                            </div>

                            <!---->
                            <div class="col-md-12">
                                <div class="@marginBottom">
                                    <label class="form-label-servicos" for="cleave-cpf">Lente da Camêra</label>
                                    <select asp-for="condicaoFisica.cf_lente_camera"
                                        class="form-select input-servicos-select " id="cleave-estado">
                                        <option disabled selected value=""></option>
                                        <option>FUNCIONANDO</option>
                                        <option>RUIM</option>
                                    </select>
                                </div>
                            </div>
                            @*
                        </div> *@
                    </div>
                </div>
            </div>
        </div>




        <div class="row col-md-3 ms-0 ">
            <div class="card card-checklist">
                <!--Header Condicoes Fisicas-->
                <div class="card-header align-items-center d-flex mb-3">
                    <h4 class="card-title mb-0 flex-grow-1">Checklist / Valores e Entrega</h4>
                    <div class="flex-shrink-0"></div>
                </div>

                <div class="card-body card-body-checklist">
                    <div class="live-preview">
                        <a class="btn-servicos btn btn-primary col-md-12 d-block mx-auto mb-1" type="submit">Inserir
                            Checklist - ENTRADA</a>
                        <a class="btn-servicos btn btn-info col-md-12 d-block mx-auto" type="submit">Inserir Checklist -
                            SAIDA</a>
                    </div>
                </div>

                <!--Header Condicoes Fisicas-->
                <div class="card-header align-items-center d-flex mb-4 card-header-valores">
                    @* <h4 class="card-title mb-0 flex-grow-1">Valores</h4> *@
                    <div class="flex-shrink-0"></div>
                </div>
                <div class="card-body mt-2">
                    <div class="live-preview">

                        <!------->
                        <div class="col-md-12">
                            <div class="@marginBottom">
                                <label class="form-label-servicos" for="validationCustom01">Serviço R$</label>
                                <input asp-for="servico.sv_valorservico"
                                    class="form-control input-servicos-text text-danger" id="validationCustom01"
                                    placeholder="Digite o nome do cliente" required type="text" />
                                <div class="valid-feedback">Campo obrigatorio inserido!</div>
                                <div class="invalid-feedback">Por favor, digite um nome!</div>
                            </div>
                        </div>


                        <!------->
                        <div class="col-md-12">
                            <div class="@marginBottom">
                                <label class="form-label-servicos" for="validationCustom01">Peça R$</label>
                                <input asp-for="servico.sv_valorpeca" class="form-control input-servicos-text"
                                    id="validationCustom01" placeholder="Digite o nome do cliente" required
                                    type="text" />
                                <div class="valid-feedback">Campo obrigatorio inserido!</div>
                                <div class="invalid-feedback">Por favor, digite um nome!</div>
                            </div>
                        </div>


                        <!------->
                        <div class="col-md-12">
                            <div class="@marginBottom">
                                <label class="form-label-servicos" for="validationCustom01">Lucro R$</label>
                                <input asp-for="servico.sv_lucro" class="form-control input-servicos-text text-success"
                                    id="validationCustom01" placeholder="Digite o nome do cliente" required
                                    type="text" />
                                <div class="valid-feedback">Campo obrigatorio inserido!</div>
                                <div class="invalid-feedback">Por favor, digite um nome!</div>
                            </div>
                        </div>


                        <!------->
                        <div class="col-md-12">
                            <div class="@marginBottom">
                                <label class="form-label-servicos" for="validationCustom01">Previsão de
                                    Entrega/Analise</label>
                                <input asp-for="servico.sv_previsao_entrega" type="text" class="form-control" id="flatpickr">
                                <div class="valid-feedback">Campo obrigatorio inserido!</div>
                                <div class="invalid-feedback">Por favor, digite um nome!</div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>





        <div class="row col-md-3 ms-0 d-none">
            <div class="card">
                <!--Header Condicoes Fisicas-->
                <div class="card-header align-items-center d-flex">
                    <h4 class="card-title mb-0 flex-grow-1">Checklist</h4>
                    <div class="flex-shrink-0"></div>
                </div>

                <div class="card-body">
                    <div class="live-preview">
                        <a class="btn-servicos btn btn-primary col-md-12 d-block mx-auto mb-1" type="submit">Inserir
                            Checklist - ENTRADA</a>
                        <a class="btn-servicos btn btn-info col-md-12 d-block mx-auto" type="submit">Inserir Checklist -
                            SAIDA</a>
                    </div>
                </div>
            </div>

            <div class="mb-2">
                <label class="form-label-servicos" for="cleave-cpf">Senha</label>
                <input asp-for="servico.sv_senha" class="form-control input-servicos-text" id="senha" placeholder=""
                    required type="text" />
            </div>





            <div class="card">
                <!--Header Condicoes Fisicas-->
                <div class="card-header align-items-center d-flex">
                    <h4 class="card-title mb-0 flex-grow-1">Valores</h4>
                    <div class="flex-shrink-0"></div>
                </div>

                <div class="card-body">
                    <div class="live-preview">

                        <!------->
                        <div class="col-md-12">
                            <div class="@marginBottom">
                                <label class="form-label-servicos" for="validationCustom01">Serviço R$</label>
                                <input asp-for="servico.sv_valorservico"
                                    class="form-control input-servicos-text text-danger" id="validationCustom01"
                                    placeholder="Digite o nome do cliente" required type="text" />
                                <div class="valid-feedback">Campo obrigatorio inserido!</div>
                                <div class="invalid-feedback">Por favor, digite um nome!</div>
                            </div>
                        </div>


                        <!------->
                        <div class="col-md-12">
                            <div class="@marginBottom">
                                <label class="form-label-servicos" for="validationCustom01">Peça R$</label>
                                <input asp-for="servico.sv_valorpeca" class="form-control input-servicos-text"
                                    id="validationCustom01" placeholder="Digite o nome do cliente" required
                                    type="text" />
                                <div class="valid-feedback">Campo obrigatorio inserido!</div>
                                <div class="invalid-feedback">Por favor, digite um nome!</div>
                            </div>
                        </div>


                        <!------->
                        <div class="col-md-12">
                            <div class="@marginBottom">
                                <label class="form-label-servicos" for="validationCustom01">Lucro R$</label>
                                <input asp-for="servico.sv_lucro" class="form-control input-servicos-text text-success"
                                    id="validationCustom01" placeholder="Digite o nome do cliente" required
                                    type="text" />
                                <div class="valid-feedback">Campo obrigatorio inserido!</div>
                                <div class="invalid-feedback">Por favor, digite um nome!</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>





    </div> <!-- Fim da Row 1 - Informacoes aparelho -->



    <div class="row" id="linha-2">
        <div class="col-md-5 col-12">
            <div class="card">
                <!---->
                <div class="card-header align-items-center d-flex">
                    <h4 class="card-title mb-0 flex-grow-1">Observações - Situação</h4>
                    <div class="flex-shrink-0"></div>
                </div>

                <div class="card-body">
                    <div class="live-preview">
                        <div class="row">
                            <textarea asp-for="servico.sv_situacao" class="form-control textarea-resize" id="textarea1"
                                rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>



         <div class="col-md-4 col-12">
            <div class="card">
                <!--Situação-->
                <div class="card-header align-items-center d-flex">
                    <h4 class="card-title mb-0 flex-grow-1">Acessorios do aparelho</h4>
                    <div class="flex-shrink-0"></div>
                </div>

                <div class="card-body">
                    <div class="live-preview">
                        <div class="row">
                            <textarea asp-for="servico.sv_acessorios" class="form-control"
                                id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-md-3 col-12">
            <div class="card">
                <!---->
                <div class="card-header align-items-center d-flex">
                    <h4 class="card-title mb-0 flex-grow-1">Solução</h4>
                    <div class="flex-shrink-0"></div>
                </div>

                <div class="card-body">
                    <div class="live-preview">
                        <div class="row">
                            <textarea asp-for="servico.sv_servico" class="form-control textarea-resize" id="textarea2"
                                rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        



    </div><!-- Fim da Row 2 - Observações e Solução -->



    <div class="row" id="linha-3">


        <div class="col-md-5 col-12">
            <div class="card">
                <!--Situação-->
                <div class="card-header align-items-center d-flex">
                    <h4 class="card-title mb-0 flex-grow-1">Relato do Cliente</h4>
                    <div class="flex-shrink-0"></div>
                </div>

                <div class="card-body">
                    <div class="live-preview">
                        <div class="row">
                            <textarea asp-for="servico.sv_relato_cliente" class="form-control"
                                id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="col-md-4 col-12">
            <div class="card">
                <!--Situação-->
                <div class="card-header align-items-center d-flex">
                    <h4 class="card-title mb-0 flex-grow-1">Condições do aparelho no balcão</h4>
                    <div class="flex-shrink-0"></div>
                </div>

                <div class="card-body">
                    <div class="live-preview">
                        <div class="row">
                            <textarea asp-for="servico.sv_condicoes_balcao" class="form-control"
                                id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-md-3 col-12">
            <div class="card">
                <!--Situação-->
                <div class="card-header align-items-center d-flex">
                    <h4 class="card-title mb-0 flex-grow-1">Defeito</h4>
                    <div class="flex-shrink-0"></div>
                </div>

                <div class="card-body">
                    <div class="live-preview">
                        <div class="row">
                            <textarea asp-for="servico.sv_defeito" class="form-control" id="exampleFormControlTextarea1"
                                rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- Fim da Row 3 - Relato do Cliente e Defeito -->



    <div class="row">
        <button class="btn btn-primary col-md-4 d-block mx-auto" type="submit">Atualizar SERV</button>
    </div>

</form>







@section Scripts {
<script src="https://nosir.github.io/cleave.js/dist/cleave.min.js"></script>
<script src="~/assets/js/pages/form-masks.init.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.js"></script>
<script type="text/javascript" src="~/js/script.js"></script>
<script src="~/js/novo/patternlock.js"></script>
<script src="~/js/Add-Edit-Servico.js"></script>


<script>
    $("#cleave-valor-cartao, #cleave-valor-avista, #cleave-valor-parcelas, #cleave-valor-vparcela").on("input", function() {
        var valorCartao = parseFloat($("#cleave-valor-cartao").val().replace("R$", "").replace(",", "."));
        var valorParcelas = parseFloat($("#cleave-valor-parcelas").val().replace("R$", "").replace(",", "."));
        var desconto = '@ViewData["desconto"]';
        var valorAVista = (valorCartao - (valorCartao * desconto) / 100).toFixed(2);
        var valorVParcela = (valorCartao / valorParcelas).toFixed(2);

        if(valorVParcela == "NaN" || valorVParcela == "") {
            $("#cleave-valor-vparcela").val("R$0");
        }else{
            $("#cleave-valor-vparcela").val("R$"+valorVParcela.toString().replace(".", ","));
            $("#cleave-valor-avista").val("R$"+valorAVista.toString().replace(".", ","));
        }
        console.log("valorCartao: ", valorCartao);
        console.log("valorParcelas: ", valorParcelas);
        console.log("valorVParcela: ", valorVParcela);
    });
</script>



<!-- NOVOS - Inicializa o pattern screen password-->
<script>
    {/* var lock = new PatternLock("#lock", {
        onPattern: function (pattern) {
            // Context is the pattern lock instance
            console.log(pattern)
        }
    }); */}
</script>

<!-- NOVOS - Inicializa o datepicker -->
<script>
    {/* var teste = flatpickr("#flatpickr", {
            @* locale: "pt", *@
    locale: {
        firstDayOfWeek: 1,
            weekAbbreviation: "Sem",
                weekdays: {
            shorthand: ["Dom", "Seg", "Ter", "Qua", "Qui", "Sex", "Sáb"],
                longhand: ["Domingo", "Segunda-feira", "Terça-feira", "Quarta-feira", "Quinta-feira", "Sexta-feira", "Sábado"]
        },
        rangeSeparator: " até ",
            scrollTitle: "Clique para rolar",
                toggleTitle: "Clique para alternar",
                    time_24hr: true,
                        months: {
            shorthand: ["Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez"],
                longhand: ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"]
        }
    },
    enableTime: true,
        altInput: true,
            weekNumbers: true,
                altFormat: "d M, Y - H:i:S",
                    dateFormat: "d/m/Y H:i:S",
                        onChange: function(selectedDates, dateStr, instance) {
                            //console.log(instance);
                            document.querySelector("#PrevisaoEntrega").value = selectedDates[0].toLocaleString();
                        }
        }); */}
</script>

<!-- NOVOS -->
<script>
    {/* function ReceberSenhaPatternDaPartial(inputValue) {
        // Aqui você pode usar o valor digitado pelo usuário
        console.log("Senha recebida:", inputValue);
    } */}
</script>

<!-- NOVOS -->
<script>
    {/* function EnviarSenhaPatternParaViewPai() {
        console.log("Enviando senha");
        var inputValue = document.getElementById("inputPassPattern").value;
        console.log("senha enviada: ", inputValue);
        // Envia o valor digitado pelo usuário para a View principal
        window.parent.ReceberSenhaPatternDaPartial(inputValue);
        VerCodigoImagem();
    } */}
</script>

<!-- NOVOS -->
<script>
    {/* function VerCodigoImagem() {

        //document.querySelector("#containerPasswordLock").style.backgroundColor = "red";

        html2canvas(document.querySelector("#containerPasswordLock")).then(canvas => {
            console.log("Enviou o formulario");
            var base64Image = canvas.toDataURL();
            console.log("Base64 image: " + base64Image);
            document.querySelector("#ImageData").value = base64Image;
        });
    } */}
</script>


<script> //Chama a modal de patternPassword
    {/* function loadModal() {
        TituloModalSenhaAtual();
        $('#exibirPatternPassword').modal('show')
    } */}
</script>


<script>
    {/* function MudarSenha() {
        var root = document.getElementById("containerPasswordLock");
        console.log("root:", root);
        root.classList.remove("d-none");

        TituloModalEditandoSenha();

        var senhaAparelho = document.getElementById("senhaAparelho-container");
        senhaAparelho.classList.add("d-none");
        var btnMudarSenha = document.getElementById("btnMudarSenha");
        btnMudarSenha.classList.add("d-none");
    } */}
</script>

<script> //Quando o usuario clicar em cancelar no modal de patternPassword, ele volta a senha do aparelho
    {/* $('#exibirPatternPassword').on('hidden.bs.modal', function (e) {
        Cancelar();
    }); */}
</script>

<script>
    {/* function Cancelar() {
        var root = document.getElementById("containerPasswordLock");
        root.classList.add("d-none");

        var senhaAparelho = document.getElementById("senhaAparelho-container");
        senhaAparelho.classList.remove("d-none");
        var btnMudarSenha = document.getElementById("btnMudarSenha");
        btnMudarSenha.classList.remove("d-none");
    } */}
</script>


<script>
    {/* function TituloModalSenhaAtual() {
        var root = document.getElementById("tituloModal");
        root.classList.remove("text-warning");
        root.classList.add("text-primary");
        root.innerHTML = "Senha atual do aparelho";
    }

    function TituloModalEditandoSenha() {
        var root = document.getElementById("tituloModal");
        root.classList.remove("text-primary");
        root.classList.add("text-warning");
        root.innerHTML = "Desenhe a nova senha do aparelho";
    } */}
</script>
<!------------- Fim novos--------------->
}